<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="/ui_examples/stylesheets/normalize.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/grid.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/fa.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/reset.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/title.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/paragraph.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/image.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/video.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/button.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/logo.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/desktop.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/job_landing_layout.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/job_hero.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/utilities.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/ui_examples/stylesheets/uc_example.css" media="all" rel="stylesheet" type="text/css" />
	<!--[if lt IE 10]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	
	<!-- Add stylesheets -->
</head>


<body>
	<!-- Logo Control starts -->
	<div class="Logo uc-content-bg-color-border-bottom--highlight u-sizeFull u-paddingTl u-paddingBl">	
		<figure class="Logo u-block u-textCenter">
			<a class="Logo-link u-inlineBlock" href="/msite/page/home">
				<img class="Logo-linkImage" src="http://res.cloudinary.com/hpuyl5w5t/image/upload/w_280,h_40,c_pad,/sample_logo.png" alt="Sample Inc" />
			</a>     
		</figure>
	</div>
	<!-- Logo Control ends -->
	
	<!-- narrow slide layout for home page-->
	<div class="slide uc-content-bg" id=""> 
		<div class="content container clearfix uc-content-font uc-content-font-link-color-a">
			<div class="row clearfix">
				<div class="grid_12">
					
					<!-- Job Hero Control starts -->
					<div class="JobHero">
						<!-- Image Control starts -->
						<div>
							<figure class="ImageMedia">
								<img class="ImageMedia-image u-sizeFull" src='http://res.cloudinary.com/hle9tm0yh/image/upload/v1361281284/sample_image.png' />
							</figure>
						</div>
						<!-- Image Control ends -->
						
						
						<!-- Narrow width container -->
						<div class="JobLanding-narrowContainer">
							<!-- Title Control starts -->
							<div>
								<h1 class="Title u-textCenter u-paddingTm u-paddingBm uc-content-font-title-header">
									User Experience &amp; Design
								</h1>
							</div>
							<!-- Title Control ends -->
							<!-- Title Control starts -->
							<div>
								<h2 class="Title u-textCenter u-paddingTm u-paddingBm uc-content-font-title-header">
	Senior UX architect, London
								</h2>
							</div>
							<!-- Title Control ends -->
							<!-- Title Control starts -->
							<div>
								<h2 class="Title u-textCenter u-paddingTm u-paddingBm uc-content-font-title-header">
	Create intuitive, simple, and beautiful designs that delight our users.
								</h2>
							</div>
							<!-- Title Control ends -->

							<!-- Button Control starts -->
							<div>
								<div class="Button u-paddingBl u-paddingTl u-sizeFull u-textCenter">
									<button class="Button-defaultButton u-paddingLxl u-paddingRxl u-paddingTl u-paddingBl uc-button" onclick='window.location.href="/page/campaign_jobs"' type=button>Apply for this role</button>
									<p class="Button-helper">Easy apply using LinkedIn, Dribble or simply upload your resume.</p>
								</div>
							</div>
							<!-- Button Control ends-->
						</div>	
						<!-- Job landing Control ends -->
					</div>
					<!-- Job Hero Control ends -->
					
					<div class="innerContainer">
						<!-- Paragraph Control starts -->
						<div>
							<p class="Paragraph u-textLeft">
				At the top of Google's core principles is: "Focus on the user and all else will follow." So, it’s no surprise that we share the same passion for innovation and excellence in design as we do in engineering. We believe each Google product should have an intuitive, simple and beautiful design that delights users each time they visit—regardless of whether they use a desktop computer, mobile device, Google Glass or other hardware.
							</p>
						</div>
						<!-- Paragraph Control ends -->
						
						<!-- Paragraph Control starts -->
						<div>
							<p class="Paragraph u-textLeft">
				Our team of User Experience (UX) Designers, Interaction Designers, Visual Designers, Motion Designers, Production Designers and Producers work in a fun, collaborative and fast-paced environment. They constantly refine Google’s visual design language, tackle complex user interactions and highlight each product’s brand and unique personality.
							</p>
						</div>
						<!-- Paragraph Control ends -->
						
						<!-- Job qualities list starts ( might need to turn this into a control ) -->
						<div class="u-paddingTl u-paddingBl">
						<!-- List of Requirements -->
						<div>
							<h2 class="Title uc-content-font-title-header u-block u-alignMiddle" href="/msite/page/culture"><span class="fa">&#61445;</span>Requirements
							</h2>
							<ul>
								<li>BA/BS degree or equivalent practical experience.</li>
								<li>Experience at a creative agency or an in-house team with an awe-inspiring portfolio of brand-defining interactive experiences.</li>
								<li>Experience managing agencies and building teams.</li>
								<li>Knowledge of design trends, as well as an understanding of consumer insights.</li>
								<li>A collaborative approach that fits with the Google spirit.</li>
							</ul>	
						</div>
						<!-- List of Responsibilites -->
						<div>
							<h2 class="Title u-block u-alignMiddle uc-content-font-title-header" href="/msite/page/culture"><span class="fa">&#61444;</span>Responsibilities
							</h2>
							<ul>
								<li>Deliver strategically sound, conceptually based, iconic experiences whilst being a brand catalyst, creating epic opportunities for the Google Brand.</li>
								<li> Be a strategic partner to our product, marketing, development and Creative Lab functions.</li>
								<li> Lead and mentor a team of web designers, information architects and UX designers. Lead external experience, design and production agencies.</li>
								<li>Manage a large body of work in a fast-paced, ambiguous environment while maintaining Google's reputation for reliability.</li>
								<li>Evangelise beauty and craft.</li>
							</ul>	
						</div>
						<!-- List of Benefits -->
						<div>
							<h2 class="Title u-block u-alignMiddle uc-content-font-title-header" href="/msite/page/culture"><span class="fa">&#61720;</span>Benefits
							</h2>
							<ul>
								<li>4-day work week.</li>
								<li>18 days PTO.</li>
								<li>401(k) contribution matching, 100% matching up to 6% of your salary.</li>
								<li>$5,000 office setup budget.</li>
								<li> $1,500 annual education budget.</li>
							</ul>	
						</div>
						</div>
						<!-- Job qualities list ends -->
						
						<!-- Button Control starts -->
						<div>
							<div class="Button u-paddingBl u-paddingTl u-sizeFull u-textCenter">
								<button class="Button-defaultButton uc-button u-paddingLxl u-paddingRxl u-paddingTl u-paddingBl" onclick='window.location.href="/page/campaign_jobs"' type=button>Apply for this role</button>
							</div>
						</div>
						<!-- Button Control ends-->
						
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Need to turn footer into a control -->
	<footer class="slide footer uc-footer uc-content-font uc-footer-font-link-color-a uc-footer-font-link-color">
	<div class="container clearfix">
		<div class="row clearfix">	
			<div class="grid_12 u-textCenter">
				<section class="socialLinks">
					<div>
						<ul class="socialLinks-list">
							<li class="socialLinks-listItem u-inlineBlock">
								<a class="socialLinks-itemLink" href="http://#.com">
									<svg class="twitter" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 											xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="45.5 64.5 204.5 163.75" enable-background="new 45.5 64.5 204.5 163.75" xml:space="preserve">
										 <path 	d="M250,83.74c-7.357,3.264-15.268,5.469-23.566,6.461c8.471-5.078,14.979-13.119,18.041-22.701
	c-7.929,4.703-16.709,8.117-26.057,9.957c-7.484-7.975-18.148-12.957-29.95-12.957c-22.659,0-41.033,18.371-41.033,41.031
	c0,3.216,0.363,6.348,1.062,9.351c-34.102-1.711-64.336-18.047-84.574-42.872c-3.532,6.06-5.556,13.108-5.556,20.628
	c0,14.236,7.244,26.795,18.254,34.153c-6.726-0.213-13.053-2.059-18.585-5.132c-0.004,0.171-0.004,0.343-0.004,0.516
	c0,19.88,14.144,36.463,32.915,40.233c-3.443,0.939-7.068,1.439-10.81,1.439c-2.644,0-5.214-0.258-7.72-0.736
	c5.222,16.301,20.375,28.166,38.331,28.496c-14.043,11.006-31.735,17.564-50.96,17.564c-3.312,0-6.578-0.193-9.788-0.574
	c18.159,11.643,39.727,18.438,62.899,18.438c75.473,0,116.746-62.523,116.746-116.747c0-1.779-0.039-3.548-0.119-5.309
	C237.543,99.195,244.499,91.968,250,83.74z"/>
									</svg>
								</a>
							</li>
							<li class="socialLinks-listItem u-inlineBlock">
								<a class="socialLinks-itemLink" href="http://#.com">
									<svg class="linkedIn" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 										   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.367 194.674" enable-background="new 0 0 202.367 194.674"
										xml:space="preserve">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M47.57,191.716V64.552H5.307v127.165H47.57L47.57,191.716z
M26.44,47.196c14.734,0,23.91-9.773,23.91-21.975C50.075,12.747,41.175,3.249,26.719,3.249c-14.459,0-23.911,9.498-23.911,21.972
c0,12.202,9.172,21.975,23.357,21.975H26.44L26.44,47.196z"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M70.96,191.716h42.266v-71.015c0-3.8,0.275-7.6,1.393-10.312
c3.055-7.596,10.011-15.461,21.688-15.461c15.297,0,21.41,11.665,21.41,28.757v68.03h42.265v-72.915
c0-39.058-20.852-57.234-48.661-57.234c-22.802,0-32.812,12.748-38.372,21.428h0.278V64.552H70.96
C71.514,76.481,70.96,191.716,70.96,191.716L70.96,191.716z"/>
									</svg>
								</a>
							</li>
							<li class="socialLinks-listItem u-inlineBlock">
								<a class="socialLinks-itemLink"href="http://#.com">
									<svg class="facebook" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 											mlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.845 113.393" enable-background="new 0 0 56.845 113.393" xml:space="preserve">
										<path d="M15.107,112.036V60.567H1.498V42.036h13.609c0,0,0-7.594,0-15.828c0-12.438,8.039-23.859,26.562-23.859
c7.5,0,13.047,0.72,13.047,0.72l-0.438,17.305c0,0-5.655-0.055-11.828-0.055c-6.68,0-7.75,3.078-7.75,8.188
c0,4.039,0-8.608,0,13.531h20.109l-0.875,18.531H34.7v51.468H15.107z"/>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</section>
				<section class="tnc">
					<div>
						<ul class="tnc-list">
							<li class="tnc-listItem"><a class="tnc-itemLink" href="#">blah</a></li>
							<li class="tnc-listItem"><a class="tnc-itemLink" href="#">blah</a></li>
							<p class="tnc-copyright">&copy; blah 2013</p>
						</ul>
					</div>
				</section>
				
			</div>
	</div>
	</footer>

<script src="scripts/jquery-1.8.2.min.js"></script>
<script src="scripts/modernizr-custom.js"></script>
<script src="scripts/webshim/polyfiller.js"></script>

<script>


    // Polyfill only form and canvas features
//   $.webshims.polyfill('forms canvas mediaelement');
	

</script>
<!-- 
	<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	<%= yield %>
	<%= render 'layouts/debug'%>-->
</body>

</html>
