@font-face {
    font-family: 'aaarghnormal';
    src: url('../fonts/Aaargh-webfont.eot');
    src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aaargh-webfont.woff') format('woff'),
         url('../fonts/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family:'aaarghnormal', arial, sans-serif;
}
.container {
	max-width:865px;
}
.innerContainer{
	max-width:665px;
	margin:0px auto;
}
ul {
	margin:20px 50px;
}
li {
	margin:20px 0px;
}
.fa {
	line-height:40px;
}
span.fa {
	font-size:40px;
}