.bx-wrapper .bx-viewport {
	box-shadow:none !important;
	border:none;
	background-color:transparent;
}
.TextSlider {
	width:100%;
	background-color:#dde3e8; /* Needs to be admin configurable*/
}
.bx-wrapper .bx-controls-direction a {
	
}
.TextSlider-numberText {
	line-height:100px;
	font-size:100px;
	box-sizing: border-box;
}

.TextSlider-text {
	font-size:48px;
	box-sizing: border-box;
	
}
.bxslider li {
	padding:0px 80px;
	box-sizing:border-box;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	text-indent:initial;
	text-decoration:none;
	width:20px;
	height:20px;
	border-radius:20px;
	line-height:20px;
	background-color:transparent;
	border:2px solid transparent;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color:white;
	border:2px solid purple;/* Database to be same border colour as the link colour*/
}
.bx-wrapper .bx-prev {
	left: 10px;
	background: url(/assets/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
	right: 10px;
	background: url(/assets/controls.png) no-repeat -43px -32px;
}